# For Airflow

In [6]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('data\pre-processed_data\pre-processed_data_28-06-2024.csv')

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\camduns\AppData\Local\Temp\ipykernel_14052\3748674224.py:1: SyntaxWarning: invalid escape sequence '\p'
  data = pd.read_csv('data\pre-processed_data\pre-processed_data_28-06-2024.csv')

In [3]:
data.head()

                       merchantname           category
0                         de bebeks  Makanan & Minuman
1                bebeks empuk rifio  Makanan & Minuman
2                    bebeks galak's  Makanan & Minuman
3  salero jumbo - padang restaurant  Makanan & Minuman
4           subway menara cakrawala  Makanan & Minuman

In [4]:
data.category.nunique()

13

In [11]:
category_map = {
            "Uang Keluar": 1,
            "Tabungan & Investasi": 2,
            "Pinjaman": 3,
            "Tagihan": 4,
            "Hadiah & Amal": 5,
            "Transportasi": 6,
            "Belanja": 7,
            "Top Up": 8,
            "Hiburan": 9,
            "Makanan & Minuman": 10,
            "Biaya & Lainnya": 11,
            "Hobi & Gaya Hidup": 12,
            "Perawatan Diri": 13,
            "Kesehatan": 14,
            "Pendidikan": 15,
            "Uang Masuk": 16,
            "Gaji": 17,
            "Pencairan Investasi": 18,
            "Bunga": 19,
            "Refund": 20,
            "Pencairan Pinjaman": 21,
            "Cashback": 22
        }

with open("./data/label_dict.json", "w") as json_file:
    json.dump(category_map, json_file)

 # Create the inverse label dictionary
label_dict_inv = {v: k for k, v in category_map.items()}

with open("./data/label_dict_inv.json", "w") as json_file:
    json.dump(label_dict_inv, json_file)

In [12]:
with open('./data/label_dict.json') as json_file:
        label_dict = json.load(json_file)

In [13]:
label_dict

{'Uang Keluar': 1,
 'Tabungan & Investasi': 2,
 'Pinjaman': 3,
 'Tagihan': 4,
 'Hadiah & Amal': 5,
 'Transportasi': 6,
 'Belanja': 7,
 'Top Up': 8,
 'Hiburan': 9,
 'Makanan & Minuman': 10,
 'Biaya & Lainnya': 11,
 'Hobi & Gaya Hidup': 12,
 'Perawatan Diri': 13,
 'Kesehatan': 14,
 'Pendidikan': 15,
 'Uang Masuk': 16,
 'Gaji': 17,
 'Pencairan Investasi': 18,
 'Bunga': 19,
 'Refund': 20,
 'Pencairan Pinjaman': 21,
 'Cashback': 22}

In [14]:
data['cat_id'] = data['category'].map(label_dict)

In [15]:
data.head()

                       merchantname           category  cat_id
0                         de bebeks  Makanan & Minuman      10
1                bebeks empuk rifio  Makanan & Minuman      10
2                    bebeks galak's  Makanan & Minuman      10
3  salero jumbo - padang restaurant  Makanan & Minuman      10
4           subway menara cakrawala  Makanan & Minuman      10

In [19]:
val = data.category.value_counts()

In [20]:
filtered_val = val[val>=2]

In [22]:
filtered_val

category
Makanan & Minuman    531
Belanja               73
Transportasi          50
Tagihan               43
Uang Keluar           41
Hobi & Gaya Hidup     29
Kesehatan             17
Hiburan               13
Pinjaman              10
Perawatan Diri         5
Pendidikan             3
Top Up                 2
Name: count, dtype: int64

In [23]:
mask = data['category'].isin(filtered_val.index)

In [24]:
filtered_data = data[mask]

In [26]:
filtered_data.cat_id.value_counts()

cat_id
10    531
7      73
6      50
4      43
1      41
12     29
14     17
9      13
3      10
13      5
15      3
8       2
Name: count, dtype: int64

# For MLFlow

In [3]:
import mlflow
from mlflow.tracking.client import MlflowClient

In [2]:
mlflow.set_tracking_uri('http://16.78.80.86:5000')

In [5]:
client = MlflowClient()
model_name = "BertModelLowCodeV312" 

# Efficiently fetch all model versions (including their details)
model_versions = client.search_model_versions(f"name='{model_name}'")

for mv in model_versions:
    print("Version:", mv.version)
    print("Stage:", mv.current_stage)
    print("Source:", mv.source)
    print("Run ID:", mv.run_id)
    print("="*10)

Version: 2
Stage: None
Source: s3://dw-ml-mav/mlflow/0/e35a41b8f07b459c98874747842e552c/artifacts/model
Run ID: e35a41b8f07b459c98874747842e552c
==========
Version: 1
Stage: None
Source: s3://dw-ml-mav/mlflow/0/7a77cae717344d979bcde14952a01aab/artifacts/model
Run ID: 7a77cae717344d979bcde14952a01aab
==========